
@{
    ViewBag.Title = "Configurações";
}

<h2>Index</h2>
 
<div>
	<h3>Configurações</h3>
	<a href="#">Gerenciar Usuários</a><br />
	<a href="#">Gerenciar Empreendimentos</a><br />
	<a href="#">Gerenciar Empresas</a><br />
	<a href="#">XXX</a>
 </div>