
@{
    ViewBag.Title = "PermissaoNegada";
}

<div class="panel text-center">
	<h1>Você não tem permissão!</h1>
	<img class="animated flipInX" src="@Url.Content("~/Content/Images/acesso_negado.jpg")" />
</div>

