
@{
    ViewBag.Title = "Configurações";
}

<h3>Configurações</h3>
<div class="container">
	@Html.ActionLink("Configurar empreendimentos", "Index", "Empreendimentos",null, htmlAttributes: new { @class = "btn btn-default" })
</div>
